.item-wrapper {
    overflow: hidden;
}

#filterContainer{
    padding-bottom: 30px;
    
}

/* Filter Items Hidden by default */
.item-card {
    display: none;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px ;
    background-color: #306D4E;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #FFD400;
}

.btn.active {
    /* background-color: #FC8C79; */
    color: white;
}