body {
    font-family: 'Garamond', Arial, sans-serif;
    text-align: center;
}


.table-container{
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
}


table {
    width: 100%;

    border-collapse: collapse;
    margin-bottom: 20px;
    color: #306D4E;
}

th, td { 
    padding: 10px;
}

th {
    background-color: #306D4E;
    color: white;
}

input[type="number"] {
    width: 40%;
    text-align: center;
    color: #306D4E;
    border: 1px solid #306D4E;
    border-radius: 4px;
}

#cart{
    padding-bottom: 20px;
    padding-top: 20px;
    color: #306D4E;
    width: 100%;
}

.cart-buy {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #306D4E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.cart-buy:hover {
    background-color: #FFD400;
}

.cart-buy:active{
    background-color: #FC8C79;
}

